
@{
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="~/Content/SavedBook.css" rel="stylesheet" />
</head>
<body>
            <section class="booksSaved">
            <main class="savedbooks">
                <div class="saved">
                    <div class="book">
                        <a href="#">
                            <img src="https://placehold.co/164x242" width="164px" height="242px" alt="book cover">
                            <h1>Titulo</h1>
                        </a>
                    </div>
                </div>
            </main>
        </section>
    </main>
</body>
</html>
